
.jumbotron {
	align-items: center;
	vertical-align: middle;
	color: white;
	background-color: gray;
	text-orientation: upright;
	background: rgb(200, 54, 54);
	background: rgba(200, 54, 54, 0.5);
}

/*.vertical-center{
	min-height: 100%;
	display: flex;
	align-items: center;
}*/

.box {
	color: white;
	font-size: 26px;
	font-weight: bolder;
}

#gemBox {
	background-color: white;
}
/*#bottom {
	background-color: #7DE88D;*/
/*}*/

body {
	background-image: url("../images/background.jpg");
}
h1 {
	color: white;
}